*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background:#E9E8E8;
  justify-content: center;
  color:#20262E;
  display: flex;
}
.container {
  margin-top: 5rem;
  background-color: #CD5888;
  padding: 2rem 5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0,0.5);
}
.heading{
  font-size: 2rem;
  font-weight: 1000;
  margin-bottom: 1rem;
}
.todo-form{
  display:flex;
  flex-direction: column;
  justify-content:center;
  margin-bottom: 1rem;
}
.todo-input, .search-input{
  width:100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  outline:none;
}

.todo-button{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color:#913175;
  color:#fff;
  cursor: pointer;
  outline: none;
  width: 100%;
}
.todo-button:hover{
  background-color: #E9E8E8;
}

.todo-output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: auto;
}

.todo-item{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: appear;
  animation-duration: 0.5s;
}

@keyframes appear{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.todo-check{
  cursor:pointer;
  width:1.5rem;
  height:1.5rem;
  border:none;
  outline:none;
}
 .todo-text{
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
  margin-left:10px;
  background-color: aliceblue;
  color: #20262E;
  padding: 0.4rem 1rem;
  border:none;
  border-radius: 0.5rem;  
  outline: none ;
 }
 .todo-edit,.todo-delete{
  cursor: pointer;
  padding:0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 5px ;
  background-color: #343635;
  border: black;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
 }

 .todo-edit:hover,.todo-delete:hover{
  background-color: #E9E8E8;
  color: #20262E;
 }
.strike{
  text-decoration: line-through;
}
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20262E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 720px) {
  .container{
    width: 90px;
    padding: 2rem 1rem;
  }
  .todo-output{
    max-height:500px;
  }
  .todo-items{
    padding: 0.5rem 0rem;
  }
}
